@import url(normalize.css);  /*Reset CSS*/

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Reusable color variables */
:root {
    --text-color: #000000;
    --text-color-light: #FFFFFF;
    --background-color: #FFFFFF;
    --main-color: #1F496E;
    --accent-color: #FFE432;
    --focus-color: #3498db;
    --product--background: #EEEEEE;
}

body {
    margin: 0;
    font-family: "Lato", "Trebuchet MS", sans-serif;
    min-height: 100vh;
    line-height: 1.65;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
}


/* Containers */
.container--l {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Typography */
h1, h2, h3, h4, h5 ,h6 {
    font-weight: 700;
    margin-bottom: 0.3rem;
    line-height: normal;
}

h1{
    font-size: 2.986rem;
}

h2{
    font-size: 2.488rem;
}

h3{
    font-size: 2.074rem;
}

h4{
    font-size: 1.728rem;
}

h5{
    font-size: 1.44rem;
}

h6{
    font-size: 1.2rem;
}

.small{
    font-size: 0.833rem;
}

.smallest{
    font-size: 0.694rem;
}

/* Link styles */


/* Other global stiles */
hr{
  background-color: var(--main-color);
  border: none;
  height: 1px;

}

.hr--gray{
    background-color: var(--product--background);
    border: none;
    height: 2px;
    width: 200px;
    margin-top: 3rem;
}

/* Header */
.header--logo{
    width: 100%;
    max-width: 200px;
}
.header__logo--link{
    max-width: 200px;
}

.header__main--flex{
    display: flex;
    justify-content: space-between;
}

.header__main{
    background-color: var(--main-color);
}

.header__main--icon-wrapper{
    display: flex;
}

.header__top-bar{
    background-color: var(--accent-color);
    width: 100%;
    text-align: center;
}

.header__top-bar p{
    margin: 0;
    color: var(--main-color);
}

/* Navigation */
.nav {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: var(--main-color);
    z-index: 10;
}

.nav__list {
    margin-top: 10vh;
    padding: 0;
    list-style-type: none;
}

.nav__item {
    font-size: 2rem;
}

.nav__link {
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
    width: 100%;
    color:var(--text-color-light);
}

.nav__link--active {
    display: block;
    padding: 0.5em 1em;
    width: 100%;
    color:var(--accent-color);
}


/* Menu Button */
.menu__btn {
    display: flex;
    align-items: center;
    align-self: center;
    padding: 0.5em 1em;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    gap: 1rem;
}

.bars {
    display: block;
    width: 1.25rem;
    height: 0.1875rem;
    background-color: var(--accent-color);
    margin: 3px 0;
}

/* Close Button */

.close {
    position: absolute;
    top: 0;
    right: 0;
    margin:1.5rem;
    background-color: transparent;
}

/* Cross */
.cross1, .cross2 {
    width: 25px;
    position: relative;
    background-color: var(--accent-color);
}

.cross1 {
    transform: rotate(45deg);
    top: 5px;    
}

.cross2 {
    transform: rotate(135deg);
    top: -1px;
}

/* Cart icon */
.header__main--cart{
    text-decoration: none;
    color: var(--text-color-light);
    align-items: center;
    align-self: center;
}

.ri-shopping-cart-2-line{
    font-size: 1.5rem;
    margin-left: 1rem;
}


/* Buttons & Links  */

.button--primary{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    color: var(--main-color);
    margin-top: 1em;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

.button--primary--blue{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: var(--accent-color);
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

/* Hero Section - Flickity Slider */
.carousel-cell {
    width: 101vw; /* full width */
    height: 100%;
    min-height: 500px; /* height of carousel */
    background-color: var(--main-color);
    color: var(--text-color-light);
  }

/* Position dots inside carousel */
.flickity-page-dots {
    bottom: 5px;
}

.flickity-page-dots .dot{
    background-color: grey;
}

/* Carousel Image */
.carousel__image{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
/* Text over image */
.carousel__textbox{
    color: var(--text-color-light);
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel__textbox h1, .carousel__textbox h2{
    margin-top: 0;
}

.carousel__button{
    display: block;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

/* Categories Section */

.categories{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    gap: 1rem;
}

.categories a{
    text-decoration: none;
    color: var(--main-color);
    height: 100%;
}

.categories__card{
    min-width: 200px;
    padding:3rem 0;
    background-color: var(--product--background);
    border: 10px solid var(--product--background);
    box-shadow: inset 0px 0px 0px 2px var(--main-color);
    cursor: pointer;
}

.categories__card:hover{
    box-shadow: inset 0px 0px 0px 3px var(--main-color);
}
.categories__card h2{
    margin: auto;
}

/* Products */


.products h2{
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
}

.products__container{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    align-content: space-between;
    justify-content: space-between;
    gap: 0.25rem;
}


.product-card__image--box{
    margin-bottom: 0;
}

.prodct-card__info{
    margin-top: 0;
}

.product__image{
    width: 100%;
    max-width: 600px;
}

.product-card__title--tag{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
}

.product-card__title-name{
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: var(--main-color);
}
.product-card__text--link{
    text-decoration: none;
}
.product-card__text--link:hover{
    text-decoration: underline;
}
.product-card__price{
    display: flex;
    align-items: flex-end;
}
.product-card__price--current{
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.product-card__price--original{
    padding: 0;
    margin: 0;
    margin-right: 1rem;
    text-decoration: line-through;
}

/* Call to action */

.cta{
    margin-top: 2rem;
    background-color: var(--product--background);
    min-height: 20rem;
    text-align: center;
    color: var(--main-color);
}

.cta__text{
    max-width: 50ch;
    margin: auto;
}

#newsletter__form{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 350px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#newsletter__form label{
    display: block;
}

#email{
    min-height: 39px;
}

#newsletter__form label{
    font-weight: 700;
}

/* Footer */

footer{
    background-color: var(--main-color);
    margin-top: auto;
    padding-bottom: 1em;
    color: var(--text-color-light);
    line-height: 1;
}

.footer__heading{
    font-weight: 700;
    font-size: 1.375rem;
    margin-bottom: 0.3rem;
    margin-top: 2rem;
}

footer a{
    color: var(--text-color--accent);
    padding:0.2rem
}

.footer__logo{
    max-width: 200px;
    margin-top: 1rem;
}

.footer__info--list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__info--list li + li{
    margin-top:1rem;
}


/* MEDIA QUERIES */

@media screen and (min-width: 900px) {

    /* Navigation*/
    .nav {
        display: flex !important;
        position: static;
        align-items: center;
        background-color: transparent;
        width: auto;
        top: 0;
        height: auto;
        margin-left: auto;
    }

    .nav__list {
        display: flex;
        margin-top: 1rem;
    }
    .nav__item {
        font-size: 1.1rem;
    }
    

    .nav__link{
        color: var(--text-color-light);
    }
    .nav__link:hover {
        color: var(--accent-color);
        width: 100%;
        display: block;
        text-decoration: underline;
        background-color: var(--info-color);
    }
    
    .nav__link--active {
        display: block;
        text-decoration: underline;
        color: var(--accent-color);
        font-weight: 700;
        padding: 0.5em 1em;
        width: 100%;
        background-color: var(--info-color);
    }

    /* Hide menu button */
    .menu__btn {
        display: none;
    }

    /* Hero section */
    .carousel__textbox{
        top: 50%;
    }

    /* CTA Section */
    #newsletter__form{
        display: block;
        text-align: left;
        max-width: fit-content;
    }


    /* Footer */
    
    footer{
        padding: 1em;
        margin-top: auto;
        line-height: 1;
    }

    .grid--two-column{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .footer__heading{
    margin-top: 0;
 } 
 } 

